html, body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 87%;
}
.menu {
    width: 12%;
    padding: 10px 20px 0px;
    background-color: rgb(37, 125, 231);
}
.header {
    display: flex;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 100px;
    color: #1a157b;
    font-size: x-large;
    background-color: #96CBEB;
    min-height: 140px;
}
.content {
    background-color: rgb(249, 239, 226);
    min-height: 350px;
    padding: 20px;
}
.formContato{
    display: flex;
    flex-direction: column;
}
.footer {
    text-align: center;
    color: rgb(254, 254, 254);
    background-color:#96CBEB;
    min-height: 80px;
}
span{
    color: #114ac6;
}
fieldset{
    border-radius: 12px;
}
.qualidade{
    display: flex;
    gap: 20px;
    padding: 30px;
}